* {
    margin: 0;
}
body {
    font-family: "Roboto",sans-serif;
}
.wrapper {
    margin: 15px;
}
.name {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.columns-wrapper {
    display: flex;
}
.sidebar {
    width: 30%;
}
.main-column {
    width: 70%;
}