* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper {
    margin: 15px;
    width: 33cm;
    border-top: solid 2px;
    border-right: solid 2px;
    border-left: solid 2px;
    border-bottom: solid 2px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid;
}
.header-left {
    width: 30%;
}
.photo{
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0 20px 0;
}
img.profile {
    border-radius: 10px;
}
.name-position {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name {
    text-transform: uppercase;
}
.position {
    text-align: center;
    margin-top: 20px;
}
.columns-wrapper {
    display: flex;
}
.sidebar {
    width: 34%;
    border-right: 2px solid;
    padding: 20px;
    max-width: 370px;
}
.contact-details {
    display: flex;
    flex-direction: column ;
}
.contact-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bolder;
}
.phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
p.phone-text {
    display: flex;
    flex-direction: row;
}
p.address-text {
    display: flex;
    flex-direction: row;
}
p.email-text {
    display: flex;
    flex-direction: row;
}
.icon {
    max-height: 26px;
}
.relevant-skills-title {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    justify-content: flex-end;
}
.relevant-skills-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 25px;
    padding-top: 20px;
}
.additional-achievements-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}
.additional-achievements-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 25px;
    padding-top: 20px;
}
.references-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}
.references-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 25px;
    padding-top: 20px;
}
.name1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.responsibility1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.email1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.name2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.responsibility2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.responsibility-text {
    text-align: right;
}
.email2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.main-column {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.professional-profile {
    display: flex;
    flex-direction: column;
}
.professional-profile-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
}
.professional-profile-text {
    line-height: 25px;
    text-align: justify;
    padding-top: 20px
}
.experience {
    display: flex;
    flex-direction: column;
}
.experience-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 25px;
}
.experience-title2 {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 10px 0;
}
.experience-title3 {
    padding: 20px 0 10px 0;
    font-size: 18px;
}
.experience-text {
    line-height: 25px;
    text-align: justify;
}
.education {

}
.education-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}
.education-text {
    line-height: 25px;
    text-align: justify;
}
.university {
    padding: 20px 0 10px 0;
    font-size: 18px;
}
.school {
    padding: 20px 0 10px 0;
    font-size: 18px;
}

@media (max-width: 992px) {
    .columns-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .header {
        flex-direction: column-reverse;
        align-items: center;
    }
    .name {
        text-align: center;
    }
    .name-position {
        width: 400px;
    }
    .sidebar {
        width: 400px;
        max-width: 100%;
        border: 0;
    }
    .icon {
        padding-right: 20px;
    }
    .main-column {
        width: 100%;
    }
    .photo  {
        width: 0;
        justify-content: center;
    }
}