* {
    margin: 0;
}
body {
    font-family: "Roboto",sans-serif;
}
.wrapper {
    margin: 15px;
}
.name {
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 30%;
}
.columns-wrapper {
    display: flex;
}
.sidebar {
    width: 30%;
}
.main-column {
    width: 70%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-left {
    width: 30%;
}
.photo{
    width: 30%;
}